<footer
  class="w-full h-[400px] flex sm:flex sm:flex-row sm:h-[300px] sm:mt-3 sm:px-4 item sm:justify-between bg-black/10 mt-5 justify-around flex-col"
>
  <!-- Left Div -->
  <div class="w-full px-2 sm:w-[32.5%] h-full flex flex-col justify-around">
    <h1 class="text-4xl font-bold">Bliss Cart</h1>
    <p class="font-medium">
      Discover a world of endless possibilities at Bliss Cart. We are committed
      to providing you with a seamless online shopping experience, curated with
      a diverse range of high-quality products. Our mission is to blend style
      and convenience, ensuring that every purchase reflects your unique taste.
    </p>
    <!-- <div class="hidden md:w-[55%] h-11 md:flex justify-around items-center">
      <i class="fa-brands fa-facebook text-4xl text-blue-500"></i>
      <i class="fa-brands fa-whatsapp text-4xl text-green-500"></i>
      <i class="fa-brands fa-x-twitter text-4xl"></i>
      <i class="fa-brands fa-pinterest text-4xl text-red-500"></i>
    </div> -->
  </div>

  <!-- Middle div -->
  <div class="hidden w-[32.5%] h-full sm:flex flex-col justify-between">
    <h1 class="text-2xl font-semibold mt-4">Useful Links</h1>

    <div class="flex w-full mt-7 h-[85%]">
      <!-- Left Links -->
      <div
        class="w-[50%] h-[75%] flex flex-col justify-between font-medium px-4"
      >
        <a href="">Home</a>
        <a href="/products?selectedCategory=Men%27s+Fashion">Men's Fashion</a>
        <a href="">Accessories</a>
        <!-- <a href="">Order Tracking</a> -->
        <a href="">Favourite</a>
      </div>

      <!-- Right Links -->
      <div
        class="w-[50%] h-[75%] flex flex-col justify-between font-medium px-4"
      >
        <a href="/cart">Cart</a>
        <a href="/products?selectedCategory=Women%27s+Fashion">Woman Fashion</a>
        <a href="">My Account</a>
        <!-- <a href="">Favourite</a> -->
        <a href="">Terms</a>
      </div>
    </div>
  </div>

  <!-- Right Div -->
  <div
    class="w-full mt-2 mb-2 px-2 sm:w-[32.5%] h-full flex flex-col justify-around"
  >
    <h1 class="text-2xl font-semibold">Contact</h1>
    <div class="flex items-center">
      <i class="fa-solid fa-location-dot mr-3 text-2xl"></i>
      <span class="">567 Maple Avenue, Springfield, IL 62701, USA</span>
    </div>

    <div class="flex items-center">
      <i class="fa-solid fa-phone mr-3 text-2xl"></i>
      <span class="">+1 234 567 890</span>
    </div>

    <div class="flex items-center">
      <i class="fa-regular fa-envelope mr-3 text-2xl"></i>
      <span class="">contact@blisscart.com</span>
    </div>

    <div class="flex items-center justify-around w-[40%] h-7">
      <i class="fa-brands fa-cc-mastercard text-2xl"></i>
      <i class="fa-brands fa-cc-paypal text-2xl"></i>
      <i class="fa-brands fa-cc-visa text-2xl"></i>
      <i class="fa-brands fa-cc-amex text-2xl"></i>
      <i class="fa-brands fa-cc-stripe text-2xl"></i>
    </div>
  </div>
</footer>
