<% layout('layouts/boilerplate') %>
<div class="h-[500px] w-full text-9xl flex flex-col items-center justify-center">
   <div class="h-52 w-52 bg-blue-300 rounded-full flex items-center justify-center mb-4">
    <i class="fa-solid fa-check fa-beat-fade"></i>
   </div>
   <h1 class="text-5xl">Order Placed Succesfully</h1>
   <form action="/" method="get">
    <button
    class="w-full text-5xl border-[1.5px] border-black bg-green-200 p-3 hover:bg-green-300 font-medium drop-shadow-xl mb-2"
    type="submit"
  >
    Home Page
  </button>
   </form>
</div>