<% layout('layouts/boilerplate') %>
<div
  class="w-full h-[545px] flex overflow-x-auto snap-x hide scroll-smooth snap-proximity"
>
  <!-- Item 1 -->
  <div
    class="w-full sm:w-full sm:flex h-full flex flex-col justify-center flex-shrink-0 snap-center item-1"
  >
    <h1 class="text-3xl sm:text-6xl font-bold ml-10">SUMMER SALE</h1>
    <h3 class="text-xl sm:text-2xl ml-10 mt-10">
      DON'T COMPROMISE ON STYLE! GET FLAT 30% OFF FOR NEW ARRIVALS
    </h3>
    <button
      class="border-2 border-black w-fit px-6 py-3 text-xl ml-10 mt-10 hover:bg-black hover:text-white transition duration-300 ease-in-out"
    >
      SHOP NOW
    </button>
  </div>

  <!-- Item 2 -->

  <div class="w-full sm:w-full h-full flex-shrink-0 snap-center">
    <img
      src="https://images.unsplash.com/photo-1512576858180-07bf7d04d3ae?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NDR8fHN1aXR8ZW58MHwwfDB8fHww"
      alt=""
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Item 3 -->
  <div
    class="w-full sm:w-full sm:flex h-full flex flex-col justify-center flex-shrink-0 snap-center item-2 text-white"
  >
    <h1 class="text-3xl sm:text-6xl font-bold ml-10">WINTER SALE</h1>
    <h3 class="text-xl sm:text-2xl ml-10 mt-10">
      DON'T COMPROMISE ON STYLE! GET FLAT 30% OFF FOR NEW ARRIVALS
    </h3>
    <button
      class="border-2 border-black w-fit px-6 py-3 text-xl ml-10 mt-10 hover:bg-black hover:text-white transition duration-300 ease-in-out"
    >
      SHOP NOW
    </button>
  </div>

  <!-- Item 4 -->
  <div class="w-full sm:w-full h-full flex-shrink-0 mr-4 snap-center">
    <img
      src="https://images.pexels.com/photos/7479825/pexels-photo-7479825.jpeg?auto=compress&cs=tinysrgb&w=600"
      alt=""
      class="w-full h-full object-cover"
    />
  </div>

  <!-- Item 5 -->
  <!-- <div class="w-full sm:w-full h-full flex-shrink-0 mr-4 snap-center">
    <img
      src="https://images.unsplash.com/photo-1532184851574-c63dfb9f4e78?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NjN8fGNhc3VhbCUyMHdlYXJ8ZW58MHwwfDB8fHww"
      alt=""
      class="w-full h-full object-cover"
    />
  </div> -->
</div>
