<% layout('layouts/boilerplate') %>
    <div class="w-[full] h-screen sm:h-full flex items-center justify-center sm:mt-8">
        <div class="h-[700px] w-[600px] flex flex-col items-center border-2 border-black">
            <div class=" h-[70%] w-[90%] mt-4">
                <form action="/upload" method="post">
                    <div class="flex flex-col mb-4">
                        <label for="Product Name" class="text-2xl mb-1">Product Name</label>
                        <input type="text" name="Product Name" id="Product Name"
                            class="rounded-md h-8 px-3 text-lg border-[1.5px] border-black" required/>
                    </div>

                    <div class="flex flex-col mb-4">
                        <label for="Product Description" class="text-2xl mb-1">Product Description</label>
                        <textarea name="Product Description" id="Product Description" cols="30" rows="5"
                            class="rounded-md text-lg border-[1.5px] border-black px-3" required></textarea>
                    </div>

                    <div class="flex flex-col mb-4">
                        <label for="Product Image" class="text-2xl mb-1">Product Image</label>
                        <input type="url" name="Product Image" id="Product Image"
                            class="rounded-md h-8 px-3 text-lg border-[1.5px] border-black" required />
                    </div>

                    <div class="flex flex-col mb-4">
                        <label for="Product Color" class="text-2xl mb-1">Product Color</label>
                        <input type="text" name="Product Color" id="Product Color"
                            class="rounded-md h-8 px-3 text-lg border-[1.5px] border-black" required/>
                    </div>

                    <div class="flex flex-col mb-4">
                        <label for="Product Color" class="text-2xl mb-1">Product Size</label>
                        <input type="text" name="Product Size" id="Product Size"
                            class="rounded-md h-8 px-3 text-lg border-[1.5px] border-black" required/>
                    </div>
                    <button
                        class="w-full text-3xl border-[1.5px] border-black bg-green-200 py-1 hover:bg-green-300 font-medium drop-shadow-xl mt-4"
                        type="submit">
                        Upload
                    </button>
                </form>
            </div>
        </div>
    </div>